/* plugin:texitmanager */
#texit__manager {margin: 1em;}
#texit__manager div.success,
#texit__manager div.error,
#texit__manager div.info {
  background-position: 0.5em;
  padding: 0.5em;
  text-align:center
}

#texit__manager form { }
#texit__manager table {margin: 1em 0;}
#texit__manager td input.edit {width: 30em;}
#texit__manager td select.edit { }
#texit__manager td textarea.edit {width: 27.5em; height: 4em;}

#texit__manager tr.default .input,
#texit__manager tr.default input,
#texit__manager tr.default textarea,
#texit__manager tr.default select {
  background-color: #ccddff;
}

#texit__manager tr.protected .input,
#texit__manager tr.protected input,
#texit__manager tr.default textarea,
#texit__manager tr.protected select {
  background-color: #ffcccc;
}

#texit__manager td.error  {background-color: red;}

/* end plugin:texitmanager */
